.navbar-header{
	text-align: center;
}
header{
	height: 7rem;
}
.text-centre{
	text-align: center;
}
.mb-5{
	margin-bottom: 5rem;
}
.banner{
	width: 100%;
    height: 50rem;
}
.banner-img{
	background-image: url("./img/sprite.jpg");
	height: 100%;
    background-position: center;
    background-size: cover;
	background-attachment: fixed;
	display: flex;
	align-items: center;
}

.banner-scale-img{
	background-image: url("./img/Banner-img.jpg");
	height: 100%;
    background-position: center;
    background-size: cover;
	display: flex;
	align-items: center;
}

.banner-text{
	margin-left: 5rem;
}
.cover{
	width:100%;
	height:30rem;
	margin-bottom: 5rem;
}
.cover-img{
	background-image: linear-gradient(#3331, transparent), url(./img/plant1.jpg);
	height: 100%;
    background-position: center;
	background-size: contain;
	text-align: center;
	padding: 20rem 10rem;
}
/* .cover-img::after {
	display: block;
	position: relative;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
	height: 100%;
	width: 100%;
	content: '';
  } */
.column{
	width:100%;
	height:40rem;
	margin-bottom: 5rem;
  	border:15px solid transparent;
	border-image: url("./img/frame.jpg") 8% 11% round;
}
.column-img{
	background-image: url("./img/vplant.jpg");
	height: 100%;
    background-position: center;
    background-size: cover;
}
.details{
	background-image: url(leaf-details-box-middle-left.png),url(leaf-details-box-middle-right.png);
}
.sprite {
	width: 50px;
    height: 50px;
	display: block;
    background-image: url("./img/sprite.jpg");
	background-size: 200%;
	cursor:pointer;
}
.sprite:hover{
	background-position: 100% 0;
}

/* Assignment 1 */

li.dropdown {
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #ecbb67;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: green;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #fff;
	color: #ecbb67;
	text-decoration:none;
}

.dropdown:hover .dropdown-content {
	display: block;
}
.green{color:green;}
.orange{color:rgb(255, 166, 0);}

table, th, td{
	border: 1px solid black;
}
table{
	border-collapse: initial !important;
    border-spacing: 2px !important;
}

th,td{
	padding:5px !important;
}

th{
	text-align: center!important;
}
tr td:first-child{
	color:blue;
}
tr td{
	color:purple;
}

.form-group{
	padding:10px;
	border:1px solid black;
	width:50%;
	margin:10px 30px;
}
.form-group label:first-child{
	position: absolute;
	margin-top: -22px;
	background-color: white;
}
label{
	color:maroon;
}
.q1 a:first-child{
	color:lightblue;
}
.q1 a{
	color: blue;
}
.links a{
	text-decoration: underline;
}
.locations a{
	cursor: pointer;
	text-decoration: underline;
}