body{
	background:  rgb(254, 90, 114, 0.28) !important;
}
.container{
	background: white;
}
.green{
	color:#fe5a72;
}
.text-bold{
	font-weight: 700;
	font-size: 16px;
	text-decoration: underline;
}
.projects{
	float:right;
	border:1px solid rgb(254, 90, 114, 1);
	padding: 1px 20px;
	background:  rgb(254, 90, 114, 0.28);
}
.footer{
	text-align: center;
	border-top: 1px dashed rgb(254, 90, 114, 0.28);
	margin-top: 10px;
	padding:10px 2px;
}
input[type="text"]{
	background:  rgb(254, 90, 114, 0.28);
	border: 1px solid grey;
}
.links a{
	color:blue;
}
.links a:last-child{
	color:purple;
}